{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ post.summary }}</p>
    </div>

    {{ post.content|markdown_to_html|sanitize_html }}

    {{ include('blog/_post_tags.html.twig') }}

    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i> {{ 'post.num_comments'|trans({ 'count': post.comments|length }) }}
    </h3>
    {% for comment in post.comments %}
        
        <div class="row post-comment">
            <a name="comment_{{ comment.id }}"></a>
            <h5 class="col-sm-3">
                <strong>{{ comment.author.fullName }}</strong> {{ 'post.commented_on'|trans }}
                <strong>{{ comment.publishedAt|format_datetime('medium', 'short', '', 'UTC') }}</strong><br><br>
                {% if comment.allowed %}
                    <span class="text-success">Approuvé par <strong>{{ comment.allowedBy.fullName ?? 'serveur'}}</strong>
                    le <strong>{{ comment.allowedAt|format_datetime('medium', 'short', '', 'UTC') }}</strong></span>
                {% else %} 
                    <span class="text-danger">Non approuvé</span>
                {% endif %}
            </h5>
            <div class="col-sm-6">
                {{ comment.content|markdown_to_html|sanitize_html }}
            </div>
            <div class="col-sm-3">
                {% if comment.allowed %}
                    <a href="{{ path('admin_comm_action', {id_post: post.id, id_comment: comment.id, action: 'disallow'}) }}" class="btn btn-sm btn-danger">
                        <i class="fas fa-times" aria-hidden="true"></i> Refuser
                    </a>
                {% else %}
                    <a href="{{ path('admin_comm_action', {id_post: post.id, id_comment: comment.id, action: 'allow'}) }}" class="btn btn-sm btn-success">
                        <i class="fas fa-check" aria-hidden="true"></i> Autoriser
                    </a>
                {% endif %}
            </div>
        </div>
    
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
